<div class="main-menu-area mg-tb-40">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <ul class="nav nav-tabs notika-menu-wrap menu-it-icon-pro">
                    <li class="active">
                        <a data-toggle="tab" href="#Home"><i class="notika-icon notika-house"></i> Home</a>
                    </li>
                    <li >
                        <a data-toggle="tab" href="#mailbox"><i class="notika-icon notika-mail"></i> Email</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#Profile"><i class="notika-icon notika-edit"></i> Profile</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#Users"><i class="notika-icon notika-support"></i> Users</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#Roles"><i class="notika-icon notika-file"></i> Roles</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#Comments"><i class="notika-icon notika-chat"></i> Comments</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#Categories"><i class="notika-icon notika-promos"></i> Categories</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#Jwt"><i class="notika-icon notika-print"></i> JWT</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#Settings"><i class="notika-icon notika-settings"></i> Settings</a>
                    </li>
                </ul>
                <div class="tab-content custom-menu-content">
                    <div id="Home" class="tab-pane active notika-tab-menu-bg animated flipInX">
                        <ul class="notika-main-menu-dropdown">
                            <li>
                                <a href="/Message/Inbox">Dashboard</a>
                            </li>
                        </ul>
                    </div>
                    <div id="mailbox" class="tab-pane notika-tab-menu-bg animated flipInX">
                        <ul class="notika-main-menu-dropdown">
                            <li>
                                <a href="/Message/Inbox">Inbox</a>
                                <a href="/Message/SendBox">SendBox</a>
                                <a href="/Message/ComposeMessage">Create New Message</a>
                            </li>
                        </ul>
                    </div>
                    <div id="Profile" class="tab-pane notika-tab-menu-bg animated flipInX">
                        <ul class="notika-main-menu-dropdown">
                            <li>
                                <a href="/Profile/EditProfile">Edit Profile</a>
                            </li>
                        </ul>
                    </div>
                    <div id="Roles" class="tab-pane notika-tab-menu-bg animated flipInX">
                        <ul class="notika-main-menu-dropdown">
                            <li>
                                <a href="/Role/RoleList">Role List</a>
                            </li>
                            <li>
                                <a href="/Role/UserList">Assign New Role</a>
                            </li>
                        </ul>
                    </div>
                    <div id="Users" class="tab-pane notika-tab-menu-bg animated flipInX">
                        <ul class="notika-main-menu-dropdown">
                            <li>
                                <a href="/Role/UserList">User List</a>
                                <a href="/Register/Signup">New User</a>
                            </li>
                        </ul>
                    </div>
                    <div id="Comments" class="tab-pane notika-tab-menu-bg animated flipInX">
                        <ul class="notika-main-menu-dropdown">
                            <li>
                                <a href="/Comments/UserComments">Forum</a>
                            </li>
                            <li>
                                <a href="/Comments/UserCommentList">User Comment List</a>
                            </li>
                        </ul>
                    </div>
                    <div id="Categories" class="tab-pane notika-tab-menu-bg animated flipInX">
                        <ul class="notika-main-menu-dropdown">
                            <li>
                                <a href="/Category/CategoryList">Category List</a>
                            </li>
                        </ul>
                    </div>
                    <div id="Jwt" class="tab-pane notika-tab-menu-bg animated flipInX">
                        <ul class="notika-main-menu-dropdown">
                            <li>
                                <a href="/Token/Generate">Generate Token</a>
                            </li>
                        </ul>
                    </div>
                    <div id="Settings" class="tab-pane notika-tab-menu-bg animated flipInX">
                        <ul class="notika-main-menu-dropdown">
                            <li>
                                <a href="/PasswordChange/ChangePassword">Change Password</a>
                            </li>
                            <li>
                                <a href="/Signout/Signout">Sign Out</a>
                            </li>
                        </ul>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>