<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
    <div class="inbox-left-sd">
        <div class="compose-ml">
            <a class="btn" href="/Message/ComposeMessage">Compose</a>
        </div>
        <div class="inbox-status">
            <ul class="inbox-st-nav">
                <li><a href="/Message/Inbox/"><i class="notika-icon notika-mail"></i> Inbox<span class="pull-right">@ViewBag.receiveMessageCount</span></a></li>
                <li><a href="/Message/SendBox/"><i class="notika-icon notika-sent"></i> Sent<span class="pull-right">@ViewBag.sendMessageCount</span></a></li>
            </ul>
        </div>
        <hr>

        @await Component.InvokeAsync("_MessageCategoryListSideBarComponentPartial")
        
        <hr>
        <div class="inbox-status">
            <ul class="inbox-st-nav inbox-nav-mg">
                <li><a href="/Comments/UserComments"><i class="notika-icon notika-success"></i> Forum</a></li>
            </ul>
        </div>
    </div>
</div>