<div class="header-top-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="logo-area">
                    <a href="/Message/Inbox"><img src="/email.png" alt="" /></a>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="header-top-menu">
                    <ul class="nav navbar-nav notika-top-nav">

                        @await Component.InvokeAsync("_MessageListOnNavBarHeaderComponentPartial")

                        <li class="nav-item nc-al">
                            <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle"><span><i class="notika-icon notika-alarm"></i></span><div class="spinner4 spinner-4"></div><div class="ntd-ctn"><span>@ViewBag.EmailCount</span></div></a>

                            @await Component.InvokeAsync("_NotificationListOnNavbarComponentPartial")

                        </li>
                        <li class="nav-item">
                            <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle"><div class="ntd-ctn"><span>@ViewBag.NotificationCount</span></div></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>